/.metadata/
/voice-manager/.classpath
/voice-manager/.project
/voice-manager/.settings
/voice-manager/target
/target/
/bin/
/.classpath
/.project
/src/main/csharp/MicrosoftSpeechLibrary10/MicrosoftSpeechLibrary10/bin
/src/main/csharp/MicrosoftSpeechLibrary10/MicrosoftSpeechLibrary10/obj
/src/main/csharp/SpeechLibrary/SpeechLibrary/obj
/src/main/csharp/SpeechLibrary/SpeechLibrary/bin
/src/main/csharp/MicrosoftSpeechLibrary10/packages
/src/main/csharp/SpeechLibrary/packages
