<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:configuration.properties</value>
				<value>file:configuration.properties</value>
				<bean
					class="org.springframework.core.io.IniAsPropertiesResource">
					<constructor-arg index="0"
						value="file:configuration.ini" />
				</bean>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.context.CustomBeanFactoryPostProcessor">
		<property name="tableSql" value="classpath:table.sql" />
		<property name="tableSqlEncoding"
			value="${org.springframework.context.CustomBeanFactoryPostProcessor.tableSqlEncoding}" />
	</bean>

	<!-- -->
	<bean
		class="org.springframework.beans.config.CustomBeanPostProcessor">
		<property name="defaultCloseOperation"
			value="${org.springframework.beans.config.CustomBeanPostProcessor.defaultCloseOperation}" />
	</bean>

	<!-- -->
	<bean id="MigLayout"
		class="org.springframework.beans.factory.MigLayoutFactoryBean">
		<property name="arguments"
			value="${org.springframework.beans.factory.MigLayoutFactoryBean.arguments}" />
	</bean>

	<!-- -->
	<bean id="ipaJsonUrl" class="java.lang.String">
		<constructor-arg index="0"
			value="${org.springframework.beans.factory.IpaMultimapFactoryBean.url}" />
	</bean>

	<!-- -->
	<bean id="ipaMultimap"
		class="org.springframework.beans.factory.IpaMultimapFactoryBean">
		<property name="url" ref="ipaJsonUrl" />
		<property name="resource" value="classpath:ipa.json" />
	</bean>

	<!-- -->
	<bean id="messageDigestAlgorithm" class="java.lang.String">
		<constructor-arg index="0"
			value="${org.springframework.context.support.VoiceManager.messageDigestAlgorithm}" />
	</bean>

	<!-- -->
	<bean id="gaKuNenBeTsuKanJiListPageUrl" class="java.lang.String">
		<constructor-arg index="0"
			value="${org.springframework.context.support.VoiceManager.gaKuNenBeTsuKanJiListPageUrl}" />
	</bean>

	<!-- -->
	<bean id="GaKuNenBeTsuKanJiMultimap"
		class="org.springframework.beans.factory.GaKuNenBeTsuKanJiMultimapFactoryBean">
		<property name="resource"
			value="classpath:GaKuNenBeTsuKanJi.xlsx" />
		<property name="url" ref="gaKuNenBeTsuKanJiListPageUrl" />
		<property name="timeout"
			value="#{T(java.time.Duration).parse('PT0S')}" />
	</bean>

	<!-- -->
	<bean
		class="org.springframework.beans.factory.JapaneseNameMultimapFactoryBean">
		<meta key="value" value="hiragana" />
		<property name="resource" value="classpath:JapaneseName.xlsx" />
		<property name="url"
			value="${org.springframework.beans.factory.JapaneseNameMultimapFactoryBean.url}" />
	</bean>

	<bean
		class="org.springframework.beans.factory.YojijukugoMultimapFactoryBean">
		<meta key="value" value="hiragana" />
		<property name="url"
			value="${org.springframework.beans.factory.YojijukugoMultimapFactoryBean.url}" />
		<property name="resource" value="classpath:yojijukugo.xlsx" />
	</bean>

	<!-- org.springframework.beans.factory.AccentDictionaryForJapaneseEducationMultimapFactoryBean -->
	<bean
		id="org.springframework.beans.factory.AccentDictionaryForJapaneseEducationMultimapFactoryBean.url"
		class="java.lang.String">
		<constructor-arg index="0"
			value="${org.springframework.beans.factory.AccentDictionaryForJapaneseEducationMultimapFactoryBean.url}" />
	</bean>

	<bean
		class="org.springframework.beans.factory.AccentDictionaryForJapaneseEducationMultimapFactoryBean">
		<meta key="value" value="hiragana" />
		<property name="url"
			ref="org.springframework.beans.factory.AccentDictionaryForJapaneseEducationMultimapFactoryBean.url" />
		<property name="resource"
			value="classpath:AccentDictionaryForJapaneseEducationHiragana.xlsx" />
		<property name="unicodeBlock" value="Hiragana" />
	</bean>

	<bean
		class="org.springframework.beans.factory.AccentDictionaryForJapaneseEducationMultimapFactoryBean">
		<meta key="value" value="katakana" />
		<property name="url"
			ref="org.springframework.beans.factory.AccentDictionaryForJapaneseEducationMultimapFactoryBean.url" />
		<property name="resource"
			value="classpath:AccentDictionaryForJapaneseEducationKatakana.xlsx" />
		<property name="unicodeBlock" value="Katakana" />
	</bean>

	<!-- -->
	<bean id="JlptLevelPageUrl" class="java.lang.String">
		<constructor-arg index="0"
			value="${org.springframework.context.support.VoiceManager.jlptLevelPageUrl}" />
	</bean>

	<!-- -->
	<bean id="JlptLevelList"
		class="org.springframework.beans.factory.JlptLevelListFactoryBean">
		<property name="url" ref="JlptLevelPageUrl" />
		<property name="timeout"
			value="#{T(java.time.Duration).parse('PT0S')}" />
		<property name="values"
			value="${org.springframework.beans.factory.JlptLevelListFactoryBean.values}" />
	</bean>

	<!-- -->
	<bean id="JouYouKanJiPageUrl" class="java.lang.String">
		<constructor-arg
			value="${org.springframework.context.support.VoiceManager.jouYouKanJiPageUrl}" />
	</bean>

	<bean id="JouYouKanJiList"
		class="org.springframework.beans.factory.JouYouKanJiListFactoryBean">
		<property name="url" ref="JouYouKanJiPageUrl" />
		<property name="resource" value="classpath:JouYouKanJi.txt" />
	</bean>

	<!-- -->
	<bean id="JlptVocabularyList"
		class="org.springframework.beans.factory.JlptVocabularyListFactoryBean">
		<property name="urls">
			<list>
				<value>https://raw.githubusercontent.com/stephenmk/yomichan-jlpt-vocab/main/n1.csv
				</value>
				<value>https://raw.githubusercontent.com/stephenmk/yomichan-jlpt-vocab/main/n2.csv
				</value>
				<value>https://raw.githubusercontent.com/stephenmk/yomichan-jlpt-vocab/main/n3.csv
				</value>
				<value>https://raw.githubusercontent.com/stephenmk/yomichan-jlpt-vocab/main/n4.csv
				</value>
				<value>https://raw.githubusercontent.com/stephenmk/yomichan-jlpt-vocab/main/n5.csv
				</value>
			</list>
		</property>
		<property name="resource"
			value="classpath:JlptVocabulary.xlsx" />
	</bean>

	<!-- -->
	<bean class="org.springframework.context.support.VoiceManager">
		<property name="layout" ref="MigLayout" />
		<property name="sqlSessionFactory" ref="SqlSessionFactory" />
		<property name="voiceFolder"
			value="${org.springframework.context.support.VoiceManager.voiceFolder}" />
		<property name="outputFolder"
			value="${org.springframework.context.support.VoiceManager.outputFolder}" />
		<property name="outputFolderFileNameExpressions"
			value="${org.springframework.context.support.VoiceManager.outputFolderFileNameExpressions}" />
		<property name="speechApi">
			<bean class="org.springframework.context.support.SpeechApiImpl" />
		</property>
		<property name="mp3Tags"
			value="${org.springframework.context.support.VoiceManager.mp3Tags}" />
		<property name="microsoftSpeechObjectLibraryAttributeNames"
			value="${org.springframework.context.support.VoiceManager.microsoftSpeechObjectLibraryAttributeNames}" />
		<!-- -->
		<property name="jlptLevels" ref="JlptLevelList" />
		<!-- -->
		<property name="gaKuNenBeTsuKanJiListPageUrl"
			ref="gaKuNenBeTsuKanJiListPageUrl" />
		<property name="gaKuNenBeTsuKanJiMultimap"
			ref="GaKuNenBeTsuKanJiMultimap" />
		<property
			name="microsoftSpeechPlatformRuntimeDownloadPageUrl"
			value="${org.springframework.context.support.VoiceManager.microsoftSpeechPlatformRuntimeDownloadPageUrl}" />
		<property
			name="microsoftSpeechPlatformRuntimeLanguagesDownloadPageUrl"
			value="${org.springframework.context.support.VoiceManager.microsoftSpeechPlatformRuntimeLanguagesDownloadPageUrl}" />
		<property name="microsoftWindowsCompatibilitySettingsPageUrl"
			value="${org.springframework.context.support.VoiceManager.microsoftWindowsCompatibilitySettingsPageUrl}" />
		<property name="mediaFormatPageUrl"
			value="${org.springframework.context.support.VoiceManager.mediaFormatPageUrl}" />
		<property name="poiEncryptionPageUrl"
			value="${org.springframework.context.support.VoiceManager.poiEncryptionPageUrl}" />
		<property name="exportHtmlTemplateFile"
			value="${org.springframework.context.support.VoiceManager.exportHtmlTemplateFile}" />
		<property name="exportWebSpeechSynthesisHtmlTemplateFile"
			value="${org.springframework.context.support.VoiceManager.exportWebSpeechSynthesisHtmlTemplateFile}" />
		<property
			name="exportWebSpeechSynthesisHtmlTemplateProperties"
			value="${org.springframework.context.support.VoiceManager.exportWebSpeechSynthesisHtmlTemplateProperties}" />
		<property name="freeMarkerVersion"
			value="${org.springframework.context.support.VoiceManager.freeMarkerVersion}" />
		<property name="freeMarkerConfiguration">
			<bean class="freemarker.template.Configuration">
				<constructor-arg index="0"
					value="#{T(freemarker.template.Configuration).getVersion()}" />
				<property name="templateLoader"
					value="#{new freemarker.cache.ClassTemplateLoader(T(org.springframework.context.support.VoiceManager),'/')}" />
			</bean>
		</property>
		<property name="exportPresentationTemplate"
			value="${org.springframework.context.support.VoiceManager.exportPresentationTemplate}" />
		<property name="folderInPresentation"
			value="${org.springframework.context.support.VoiceManager.folderInPresentation}" />
		<property name="microsoftAccessFileFormat"
			value="${org.springframework.context.support.VoiceManager.microsoftAccessFileFormat}" />
		<property name="workbookClass"
			value="${org.springframework.context.support.VoiceManager.workbookClass}" />
		<property name="jSoupParseTimeout"
			value="${org.springframework.context.support.VoiceManager.jSoupParseTimeout}" />
		<property name="messageDigestAlgorithm"
			ref="messageDigestAlgorithm" />
		<property name="ipaSymbolMultimap" ref="ipaMultimap" />
		<!-- -->
		<property name="jouYouKanJiList" ref="JouYouKanJiList" />
		<!-- -->
		<property name="jlptVocabularyList" ref="JlptVocabularyList" />
		<!-- -->
		<property
			name="onlineNHKJapanesePronunciationsAccentFailableFunction"
			ref="OnlineNHKJapanesePronunciationsAccentFailableFunction" />
		<!-- -->
		<property name="preferredPronunciationAudioFormat"
			value="${org.springframework.context.support.VoiceManager.preferredPronunciationAudioFormat}" />
		<!-- -->
		<property name="presentationSlideDuration"
			value="${org.springframework.context.support.VoiceManager.presentationSlideDuration}" />
		<!-- -->
		<property name="imageFormat"
			value="${org.springframework.context.support.VoiceManager.imageFormat}" />
	</bean>

	<!-- -->
	<bean class="org.springframework.context.support.IpaSymbolGui">
		<property name="layout" ref="MigLayout" />
		<property name="ipaSymbolMultimap" ref="ipaMultimap" />
		<property name="url" ref="ipaJsonUrl" />
		<property name="resource" value="classpath:ipa.json" />
		<property name="messageDigestAlgorithm"
			ref="messageDigestAlgorithm" />
	</bean>

	<!-- -->
	<bean
		class="org.springframework.context.support.GaKuNenBeTsuKanJiGui">
		<property name="layout" ref="MigLayout" />
		<property name="gaKuNenBeTsuKanJiMultimap"
			ref="GaKuNenBeTsuKanJiMultimap" />
		<property name="gaKuNenBeTsuKanJiListPageUrl"
			ref="gaKuNenBeTsuKanJiListPageUrl" />
	</bean>

	<!-- -->
	<bean class="org.springframework.context.support.JlptLevelGui">
		<property name="layout" ref="MigLayout" />
		<property name="jlptLevels" ref="JlptLevelList" />
		<property name="url" ref="JlptLevelPageUrl" />
		<property name="jlptVocabularyList" ref="JlptVocabularyList" />
		<property name="jmDictUrl"
			value="${org.springframework.context.support.JlptLevelGui.jmDictUrl}" />
	</bean>

	<!-- -->
	<bean class="org.springframework.context.support.JouYouKanjiGui">
		<property name="layout" ref="MigLayout" />
		<property name="jouYouKanJiList" ref="JouYouKanJiList" />
		<property name="url" ref="JouYouKanJiPageUrl" />
		<property name="ecssVersion"
			value="${org.springframework.context.support.JouYouKanjiGui.ecssVersion}" />
	</bean>

	<!-- -->
	<bean id="BufferedImageType"
		class="org.springframework.beans.factory.BufferedImageTypeFactoryBean">
		<property name="value"
			value="${java.awt.image.BufferedImage.imageType}" />
	</bean>

	<!-- -->
	<bean id="OnlineNHKJapanesePronunciationsAccentFailableFunction"
		class="org.apache.commons.lang3.function.OnlineNHKJapanesePronunciationsAccentFailableFunctionImpl">
		<property name="url"
			value="${org.apache.commons.lang3.function.OnlineNHKJapanesePronunciationsAccentFailableFunctionImpl.url}" />
		<property name="imageType" ref="BufferedImageType" />
	</bean>

	<!-- 広辞苑無料検索 NHK日本語発音アクセント辞典 -->
	<!-- https://sakura-paris.org/dict/NHK日本語発音アクセント辞典/ -->
	<bean
		class="org.springframework.context.support.OnlineNHKJapanesePronunciationAccentGui">
		<property name="layout" ref="MigLayout" />
		<property name="imageFormatOrders"
			value="${org.springframework.context.support.OnlineNHKJapanesePronunciationAccentGui.imageFormatOrders}" />
		<property
			name="onlineNHKJapanesePronunciationsAccentFailableFunction"
			ref="OnlineNHKJapanesePronunciationsAccentFailableFunction" />
		<property name="bufferedImageType" ref="BufferedImageType" />
	</bean>

	<bean id="DataSource" class="org.h2.jdbcx.JdbcConnectionPool"
		factory-method="create">
		<constructor-arg index="0"
			value="jdbc:h2:file:./voice_manager" />
		<constructor-arg index="1"
			value="${org.h2.jdbcx.JdbcDataSource.user}" />
		<constructor-arg index="2"
			value="${org.h2.jdbcx.JdbcDataSource.password}" />
	</bean>

	<bean id="SqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="DataSource" />
		<property name="mapperLocations"
			value="classpath*:mapper/**/*.xml" />
	</bean>

	<!-- FLAC -->
	<bean
		class="org.springframework.context.support.VoiceManager$AudioToFlacByteConverter">
		<meta key="format" value="flac" />
		<property name="audioStreamEncoderByteArrayLength"
			value="${net.sourceforge.javaflacencoder.FLACEncoder.byteArrayLength}" />
	</bean>

	<!-- MP3 -->
	<bean
		class="org.springframework.context.support.VoiceManager.AudioToMp3ByteConverter">
		<meta key="format" value="mp3" />
		<property name="bitRate"
			value="${de.sciss.jump3r.lowlevel.LameEncoder.bitRate}" />
		<property name="quality"
			value="${de.sciss.jump3r.lowlevel.LameEncoder.quality}" />
		<property name="vbr"
			value="${de.sciss.jump3r.lowlevel.LameEncoder.vbr}" />
	</bean>

</beans>