<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:configuration.properties</value>
				<value>file:configuration.properties</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.context.CustomBeanFactoryPostProcessor">
		<property name="tableSql" value="classpath:table.sql" />
		<property name="tableSqlEncoding"
			value="${org.springframework.context.CustomBeanFactoryPostProcessor.tableSqlEncoding}" />
	</bean>

	<bean class="org.springframework.context.support.VoiceManager"
		init-method="init">
		<property name="layout"
			value="#{new net.miginfocom.swing.MigLayout()}" />
		<property name="defaultCloseOperation"
			value="#{T(javax.swing.WindowConstants).EXIT_ON_CLOSE}" />
		<property name="title"
			value="${org.springframework.context.support.VoiceManager.title}" />
		<property name="sqlSessionFactory" ref="SqlSessionFactory" />
		<property name="folder"
			value="${org.springframework.context.support.VoiceManager.folder}" />
	</bean>

	<bean id="DataSource" class="org.h2.jdbcx.JdbcDataSource">
		<property name="url" value="jdbc:h2:file:./voice_manager" />
		<property name="user"
			value="${org.h2.jdbcx.JdbcDataSource.user}" />
		<property name="password"
			value="${org.h2.jdbcx.JdbcDataSource.password}" />
	</bean>

	<bean id="SqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="DataSource" />
		<property name="mapperLocations"
			value="classpath*:mapper/**/*.xml" />
	</bean>

</beans>